* {
  margin: 0;
}

.main-form {
  height: 100vh;
  width: 100vw;
  background-color: #2FC18C;
  background-image: url('../fundo.png');
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

.form-login {
  background-color: white;
  padding: 40px;
  border-radius: 15px;
  width: 350px;
  height: 200px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.form-login img {
  margin-bottom: 22px;
  width: 268.6px;
  height: 56.14px;
}

.form-login input {
  background: #FFFFFF;
  border: 1px solid #003BE5;
  border-radius: 5px;
  width: 300px;
  height: 20px;
  font-size: 16px;
  padding: 6px;

  font-family: cursive;
}

.form-login input:hover {
  width: 310px;
  height: 22px;
}

.habilit {
  margin-top: 10px;
  background: #0039e5;
  border: 1px solid #003BE5;
  border-radius: 5px;
  width: 315px;
  height: 35px;
  color: white;
  font-size: 16px;

  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 600;
}

.desabilit {
  margin-top: 10px;
  background: #0039e58e;
  border: 1px solid #003BE5;
  border-radius: 5px;
  width: 315px;
  height: 35px;
  color: white;
  font-size: 16px;

  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 600;
}

/* .form-login button {
  margin-top: 10px;
  background: #003BE5;
  border: 1px solid #003BE5;
  border-radius: 5px;
  width: 315px;
  height: 35px;
  color: white;
  font-size: 16px;

  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 600;
} */

.form-login button:hover {
  width: 318px;
  height: 42px;
}