.main-wallet {
  width: 100vw;
  height: 100vh;
  background-color: #2FC18C;
  background-image: url('../fundo.png');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
}

.header-form {
  margin-top: -20px;
  position: absolute;
  background-color: white;
  width: 70%;
  height: 250px;
  box-shadow: -4px 9px 13px rgba(5, 18, 54, 0.4);
  border-radius: 10px;
}

.header-form header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
}

.header-form header p {
  display: flex;
  align-items: center;
  gap: 4px;
}

.expense {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 14px;

  color: #003BE5;
}

.expense span {
  font-size: 15px;
  font-weight: 500;
}

.email-user {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;

  color: #2FC18C;
}

.header-form header img {
  max-width: 200px;
}

.table-wallet {
  position: relative;
  top: 250px;
  background-color: #0039e5;
  box-shadow: -4px 9px 13px rgba(3, 107, 82, 0.3);
  border-radius: 10px;
  width: 80%;
  height: 250px;
  margin-top: -28px;
}

@media screen and (max-width: 950px) {
  .header-form {
    width: 90vw;
    padding: 2px;
    height: 300px;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .campos-form {
    height: 158px;
  }

  .table-wallet {
    margin-top: 60px;
    width: 99vw;
    height: 225px;
    padding: 1px;
  }

  .header-form {
    margin-bottom: 20px;
  }

  .header-form header {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
  }

  .header-form header img {
    max-width: 100px;
  }

  .form {
    height: 300px;
  }

  .form button {
    margin-bottom: 10px;
  }

  .table {
    width: 400px;
  }

  .table thead {
    width: 70%;
    height: 10px;
    margin-left: 5px;
    padding: 10px;
    color: white;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 10px;
  }

  .table thead th {
    width: 30px;
    height: 26.6px;
    margin: 1px;
  }
  
  .table tbody {
    width: 90%;
    height: 20.52px;
  }

  .table tbody td {
    width: 30px;
    height: 23.6px;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 10px;
  
    color: #2FC18C;
  }
}